<?xml version="1.0" ?>
<configuration>
    <startup useLegacyV2RuntimeActivationPolicy="true">
        <supportedRuntime version="v4.0" />
    </startup>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <probing privatePath="BizTalk Assemblies;Developer Tools;Tracking;Tracking\interop" />
        </assemblyBinding>
    </runtime>
    
    <system.runtime.remoting>
    
        <channelSinkProviders>
            <serverProviders>
                <provider id="sspi" type="Microsoft.BizTalk.XLANGs.BTXEngine.SecurityServerChannelSinkProvider,Microsoft.XLANGs.BizTalk.Engine" securityPackage="ntlm" authenticationLevel="packetPrivacy" />
            </serverProviders>
        </channelSinkProviders>
    
        <application>
            <channels>
                <channel ref="tcp" port="0" name="">
	                <serverProviders>
	                    <provider ref="sspi" />
                        <formatter ref="binary" typeFilterLevel="Full"/>
                    </serverProviders>
                </channel>
            </channels>
        </application>
    </system.runtime.remoting>
    	<appSettings>		
		<add key="kroger.Logging.Client.NetLogService.FILogService" value="https://logservice.fi.com/FILogService.asmx"/>
		<add key="ACDConfigFile" value="D:\ACDApplication\ACDConfig.xml"/>

		<add key="ACD_ConnString" value="Data Source=ACD-DB\INST2;Initial Catalog=ACD;Integrated Security=SSPI" />

		<add key="ACD_Debug" value="True" />
		<add key="ACD_EPWorkerTimeoutMins" value="59" />
		<add key="ACD_EntityPurgeTimeoutSecs" value="3600" />
		<add key="ACD_EPManagerTimeoutHours" value="2" />
		<add key="ACD_EWatcherTimeoutMins" value="240" />
		<add key="ACD_AutoFilePollEndHour" value="23" />
		<add key="ACD_FileEngineConfigRoot" value="F:\krogerApplications\ACD\SubSystems\FileEngine\"/>
		<add key="ACD_CustodianFileRoot" value="F:\krogerApplications\ACD\Data\CustodianFiles\Process\"/>
		<add key="ACD_SSISFileRoot" value="F:\krogerApplications\ACD\Data\SSISFiles\"/>
		<add key="ACD_EntitySQLLoadConfig" value="F:\krogerApplications\ACD\SubSystems\DataLoader\ACDSSIS.xml"/>
		<add key="PGPFolder" value="F:\PGPFolder"/>
		<add key="OnDemandPositionsConfigFile" value="F:\krogerApplications\FI.EagleEAI.FIN\OnDemandPACE\OnDemandPositions.config"/>
		<add key="B2BMgmtConnectionString" value="Initial Catalog=FI_Data_Utilities;Data Source=fi_data_utilities-db;Integrated Security=SSPI;"/>
		<add key="B2BAppPath" value="F:\krogerApplications\kroger.B2BDataExchange"/>
		<add key="B2BPGPFolder" value="F:\PGPFolder\PGP"/>
		<add key="B2BPGPHomeDir" value="C:\GnuPG"/>
		<add key="B2BSMTPHost" value="mailblast.fi.com"/>
		<add key="B2BNotificationSender" value="BTSAdmin@fi.com"/>
		<add key="EagleSRMIDCConfigFile" value="F:\krogerApplications\Eagle.SRM\Application\Config\kroger.SRM.BizTalk.B2B.IDC.config"/>
	</appSettings>
	<system.serviceModel>
        <bindings>
            <basicHttpBinding>
              <binding name="FILogServiceSoap" >
                <security mode="Transport">
                  <transport clientCredentialType="Windows" />
                </security>
              </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://logservice.fi.com/FILogService.asmx"
                binding="basicHttpBinding" bindingConfiguration="FILogServiceSoap"
                contract="NetLogService.FILogServiceSoap" name="FILogServiceSoap" />
        </client>
     </system.serviceModel>
	<!-- added for debugging purpose -->
	<system.diagnostics>
	  <trace autoflush="true" indentsize="2">
	   <listeners>
	    <remove name="Default"/>
            <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="F:\krogerApplications\Trace\TextWriterOutput.log" />
	   </listeners>
  	  </trace>
	</system.diagnostics>

	<!--
	<system.diagnostics>
	  <trace autoflush="true" indentsize="2">
	   <listeners>
	    <remove name="Default"/>
	    <add name="EventLogListener" type="System.Diagnostics.EventLogTraceListener" initializeData="BizTalkTrace"/> 
	   </listeners>
  	  </trace>
	</system.diagnostics>
	-->
</configuration>
